BasedOnStyle: Chromium
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Attach
BreakStringLiterals: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
PenaltyReturnTypeOnItsOwnLine: 1000
Language: Cpp
Standard: Cpp11
ColumnLimit: 100
